<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <!--favicon.ico-->
    <link rel="icon" href="data:;base64,=">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
</head>

<body>
<h1> Login Page </h1>
<hr />
<form>
    <!-- 이메일 입력 -->
    <input type="text" name="email" placeholder="email" id="user-email">
    <br />
    <!-- 비밀번호 입력 -->
    <input type="password" name="password" placeholder="password" id="user-password">
    <br />
    <button type="button" id="login-btn">로그인</button>
</form>
<a href="/signup-page">회원가입</a>

<script>
    $(document).ready(function() {
        // 로그인 버튼 변수화
        const LoginBtn = $("#login-btn");

        // 로그인 클릭 이벤트 감지!
        LoginBtn.on("click", function () {
            // 사용자 객체 생성
            const user = {
                email: $("#user-email").val(),
                password: $("#user-password").val()
            };

            const url = "/api/auth/login";
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(user),
                contentType: 'application/json',
                success: function(response, textStatus, request) {
                    // 헤더에서 토큰 추출
                    const tokenHeader = request.getResponseHeader("Authorization");
                    const token = tokenHeader ? tokenHeader.substring(7) : null;

                    // 토큰을 쿠키에 저장
                    Cookies.set("accessToken", token, { expires: 7, path: '/' });

                    alert("로그인 성공");
                    window.location.href = "/home";
                },
                error: function(jqXHR) {
                    alert(`로그인 실패: ${jqXHR.responseJSON.message}`);
                    console.error("로그인 실패");
                }
            });
        });
    });
</script>
</body>

</html>