<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>Join Page</title>
    <!--favicon.ico-->
    <link rel="icon" href="data:;base64,=">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<h1> Join Page </h1>
<form>
    <!-- 이메일 입력 -->
    <input type="text" name="email" placeholder="email" id="new-user-email">
    <br />
    <!-- 닉네임 입력 -->
    <input type="text" name="nickname" placeholder="nickname" id="new-user-nickname">
    <br />
    <!-- 비밀번호 입력 -->
    <input type="password" name="password" placeholder="password" id="new-user-password">
    <br />
    <button type="button" id="signup-btn">회원가입</button>
</form>
<a href="/login-page">로그인</a>

<script>
    $(document).ready(function() {
        // 회원가입 버튼 변수화
        const SignupBtn = $("#signup-btn");

        // 회원가입 클릭 이벤트 감지!
        SignupBtn.on("click", function () {
            // 사용자 객체 생성
            const user = {
                email: $("#new-user-email").val(),
                nickname: $("#new-user-nickname").val(),
                password: $("#new-user-password").val()
            };

            // AJAX 사용
            const url = "/api/auth/signup";
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(user),
                contentType: 'application/json',
                success: function(response) {
                    alert("회원가입이 완료되었습니다.");
                    location.reload();
                },
                error: function(jqXHR) {
                    alert(`회원가입 실패: ${jqXHR.responseJSON.message}`);
                }
            });
        });
    });
</script>
</body>

</html>